/* Write CSS here */
.bg-co {
  height: 100vh;
  background-image: url('https://assets.ccbp.in/frontend/react-js/stopwatch-lg-bg.png');
  padding: 1px;
}
.co-1 {
}
.heading-1 {
  display: flex;
  padding: 50px;
  color: #000;
  font-size: 45px;
  margin-left: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-right: 10px;
}
.time-co {
  padding: 50px;
  height: 50px;
  width: 400px;
  background-color: #ffff;
}
.timer-co {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
}
.heading-2 {
  font-size: 25px;
  margin-left: 20px;
  margin-right: 10px;
  margin-bottom: 5px;
  margin-top: 5px;
  font-family: 'Roboto';
}
.stop-watch {
  height: 110px;
  width: 220px;
}
.para-1 {
  font-size: 50px;
  font-weight: 800;
  color: #000;
  font-style: italic;
}
.start-button {
  height: 20px;
  width: 60px;
  font-size: 12px;
  font-weight: 700;
  background-color: green;
  color: #fff;
  margin-left: 6px;
  margin-right: 6px;
  margin-top: 6px;
  margin-bottom: 6px;
  border: 0px;
}
.stop-button {
  height: 20px;
  width: 60px;
  font-size: 12px;
  font-weight: 700;
  background-color: red;
  color: #fff;
  margin-left: 6px;
  margin-right: 6px;
  margin-top: 6px;
  margin-bottom: 6px;
  border: 0px;
}
.reset-button {
  height: 20px;
  width: 60px;
  font-size: 12px;
  font-weight: 700;
  background-color: orange;
  color: #fff;
  margin-left: 6px;
  margin-right: 6px;
  margin-top: 6px;
  margin-bottom: 6px;
  border: 0px;
}
.button{
  cursor: none;
  outline:none;
}